body.body--dark {
  background-color: $dark-page;
  color: #ffffff;
}

.title {
  letter-spacing: 3px;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

// BUTTONS
.q-btn {
  box-shadow:
    0 4px 6px rgba(255, 255, 255, 0.1),
    0 1px 3px rgba(255, 255, 255, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}

.q-btn:hover,
.q-btn:focus {
  box-shadow: 0 6px 12px rgba(11, 5, 21, 0.2);
}

.primary-button {
  background-color: $accent;
  color: white;
  border-radius: 50px;
  padding: 5px 20px;
  display: flex;
  font-size: 1rem;

  &:hover {
    background-color: darken($accent, 10%);
  }
}
