body.body--dark {
  font-family: 'Urbanist', sans-serif;
  background-color: $dark-page;
  color: #ffffff;
}

.q-toolbar {
  background-color: $dark-page;
}

.title {
  letter-spacing: 3px;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

// BUTTONS
.primary-button {
  background-color: $primary;
  box-shadow:
    0 4px 6px rgba(255, 255, 255, 0.1),
    0 1px 3px rgba(255, 255, 255, 0.08);
  transition: box-shadow 0.3s ease-in-out;
  background-color: $secondary;
  color: black;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  font-size: 1rem;

  &:hover {
    background-color: $accent;
    box-shadow: 0 6px 12px rgba(11, 5, 21, 0.2);
  }
}

.contained-button {
  background-color: none;
  color: #000000;
  text-transform: none;
  margin: 0px 5px;
}

.icon-button {
  background-color: $primary;
  margin: 3px;
}

.active {
  color: $dark-page;
  background-color: $positive;
  font-weight: bold;
}

.q-tooltip {
  background-color: $primary;
  font-size: medium;
}
