body.body--dark {
  font-family: 'Urbanist', sans-serif;
  background-color: $dark-page;
  color: $secondary;
}

.q-toolbar {
  background-color: $dark-page;
}

.title {
  letter-spacing: 3px;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

// BUTTONS
.primary-button {
  box-shadow:
    0 4px 6px rgba(255, 255, 255, 0.1),
    0 1px 3px rgba(255, 255, 255, 0.08);
  transition: box-shadow 0.3s ease-in-out;
  background-color: $secondary;
  color: black;
  padding: 10px 20px;
  display: flex;
  font-size: 1rem;

  &:hover {
    background-color: $accent;
    box-shadow: 0 6px 12px rgba(11, 5, 21, 0.2);
  }
}

.secondary-button {
  background-color: $primary;
  color: $secondary;
  padding: 8px 20px;
  display: flex;
  font-size: 0.8rem;

  &:hover {
    background-color: $accent;
    color: black;
  }
}

.contained-button {
  background-color: none;
  color: black;
  text-transform: none;
  margin: 0px 5px;
  &:hover {
    background-color: $positive;
  }
}

.icon-button {
  background-color: $primary;
  color: $secondary;
  margin: 3px;
  &:hover {
    background-color: $accent;
    color: black;
  }
}

.active {
  color: $dark-page;
  background-color: $positive;
  font-weight: bold;
  box-shadow:
    0 4px 6px rgba(255, 255, 255, 0.1),
    0 1px 3px rgba(255, 255, 255, 0.08);
}

.header-icon {
  color: $secondary;
  margin-left: 8px;
  &:hover {
    color: $accent;
  }
}

.secondary-icon {
  background-color: #ffffff12;
  color: $secondary;
  margin-left: 8px;
  font-size: 12px;
  &:hover {
    background-color: $accent;
    color: black;
  }
}

.dropdown {
  margin: 0px 8px;
}

.dropdown-selected {
  color: $accent;
}

.q-tooltip {
  background-color: $primary;
  font-size: medium;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: $dark-page;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
  border: 3px solid $dark;
}

::-webkit-scrollbar-thumb:hover {
  background: $positive;
}

::-webkit-scrollbar-corner {
  background: $dark-page;
}
